.admin-container {
  margin: 20px auto;
  width: 900px;
  height: 600px;
  background-color: white;

  &__header {
    display: flex;
    width: 900px;
    height: 50px;
    background-color: @header-color-bg;
    justify-content: space-around;
  }

  &__body {
    width: 900px;
    height: 550px;
    display: flex;
  }

}