@header-color-bg: #55A4C3;
@header-color-bg-btn: #a8cfd8;

@shadow-color:rgba(0,0,0,0.5);
@shadow-hover-color:rgba(219, 130, 36, 0.5);

@body-users-color-bg: #fff;
@body-chat-color-bg: #f4f5f9;

@messang-color-bgAll: rgba(10, 11, 67, 0.82);

@text-colorMes:rgba(10, 11, 67, 0.82);

@body-mes-inp-color-bg: #fff;
@text-color: #fff;

@font-single: Roboto, sans-serif;

body {
  padding: 0;
  margin: 0;
  font-family: @font-single;
  background-image: url("../images/fon2.jpg");
}

@import "header.less";
@import "adm-container.less";
@import "body-regist.less";
@import "body-users.less";


input {
  outline:none;
}

::placeholder {
  color: white;
  font-size: 1em;
}


@gradient-header:  linear-gradient(to top right, rgb(23, 29, 99), rgb(40, 37, 94), rgb(58, 44, 89), rgb(75, 52, 84),
rgb(92, 60, 79), rgb(110, 67, 74), rgb(127, 75, 70), rgb(145, 82, 65), rgb(162, 90, 60), rgb(179, 98, 55),
rgb(197, 105, 50), rgb(214, 113, 45));

@background: rgb(58, 44, 89);
@background-input: rgb(179, 98, 55);
@background-input-border: black;
@background-btn-login:rgb(214, 113, 45);
@background-btn-reg:rgb(23, 29, 99);