body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../images/fon2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@import "header.less";
@import "body.less";
@import "modal-user.less";
@import "modal-admin.less";
@import "message-users.less";
@import "smile";
@import "users-online";

@header-color-bg: #55A4C3;
@header-color-bg-btn: #a8cfd8;

@shadow-color:rgba(0,0,0,0.5);
@shadow-hover-color:rgba(219, 130, 36, 0.5);

@body-users-color-bg: #fff;
@body-chat-color-bg: #f4f5f9;

@messang-color-bgAll: rgba(10, 11, 67, 0.82);

@text-colorMes:rgba(10, 11, 67, 0.82);

@body-mes-inp-color-bg: #fff;

@text-color: #fff;

@font-single: Roboto, sans-serif;

@gradient-header:  linear-gradient(to top right, rgb(23, 29, 99), rgb(40, 37, 94), rgb(58, 44, 89), rgb(75, 52, 84),
rgb(92, 60, 79), rgb(110, 67, 74), rgb(127, 75, 70), rgb(145, 82, 65), rgb(162, 90, 60), rgb(179, 98, 55),
rgb(197, 105, 50), rgb(214, 113, 45));

@background: rgb(58, 44, 89);
@background-input: rgb(179, 98, 55);
@background-input-border: black;
@background-btn-login:rgb(214, 113, 45);
@background-btn-two:rgb(23, 29, 99);




input {
  outline:none;
}

::placeholder {
  color: black;
  font-size: 1em;
}

.chat {
  margin: 0 auto;
  width: 910px;
  height: 650px;
  box-shadow: 0 0 10px @shadow-color;
}


::-webkit-scrollbar { width: 5px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #262c66; }
::-webkit-scrollbar-track {  background-color: #fffdfd;}
::-webkit-scrollbar-track-piece { background-color: #fef9ff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #0001ff; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #314099;}
::-webkit-resizer { background-color: #661100;}